:root {
  --bg-white: "#FFFFFF";
  --bg-blue-primary: "";
  --bg-yellow: "#FFB81C";
  --bg-dark: "#2B2A2AF2";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
