.mobile {
  margin-block: 0;
}
.mobileContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px 250px;
  gap: 1rem;
  padding: 2rem;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.gridItem .content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridItem .content h4 {
  text-align: center;
}

.gridItem:nth-child(1) {
  /* border: 2px solid brown; */
  /* align-items: flex-start; */
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}

.gridItem:nth-child(3) {
  /* border: 2px solid brown; */
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
}

.gridItem:nth-child(3) .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridItem:nth-child(4) {
  grid-column: 1/-1;
  justify-content: center;
  align-items: center;
}

.gridItem:nth-child(5) {
  align-items: center;
  justify-content: center;
  grid-column: 1/-1;
}

.gridItem:nth-child(2) {
  /* background-color: red; */
  grid-row: 1/-1;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}

.content:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxIcon {
  width: 150px;
  height: 150px;
  background-color: var(--bg-yellow);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 53% 47% 70% 30% / 30% 26% 74% 70%;
}

/* .boxIcon:nth-of-type(3) {
  border-radius: 39% 61% 45% 55% / 30% 35% 65% 70%;
} */

.boxIcon svg {
  font-size: 50px;
}

.callActionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid brown; */
  column-gap: 0.5rem;
  margin-block-end: 50px;
}

@media screen and (min-width: 768px) {
  .mobile {
    margin-block: 100px;
  }
  .gridItem:nth-child(1) {
    grid-column: 1/2;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .gridItem:nth-child(2) {
    /* background-color: red; */
    grid-column: 2/3;
  }
  .gridItem:nth-child(3) {
    grid-column: 3/4;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .gridItem:nth-child(4) {
    grid-column: 1/2;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .gridItem:nth-child(5) {
    grid-column: 3/4;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
